/* Configuración global */

@page {
  margin: 2.54cm;
  size: A4;
}

body {
    font-family: "Arial", sans-serif;
    font-size: 11pt;
    line-height: 2; /* Interlineado doble */
    margin-left: 2.54cm;
    margin-right: 2.54cm;
    margin-top: 2.54cm;
    margin-bottom: 2.54cm;
    text-align: left; /* Alineación a la izquierda */
}


/* Configuración para los títulos y subtítulos */
/* Nivel 1 - Título centrado, negrita, cada palabra en mayúscula */
h1 {
    font-family: "Arial", sans-serif;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    margin-top: 2em;
    margin-bottom: 1em;
}

/* Nivel 2 - Título alineado a la izquierda, negrita, cada palabra en mayúscula */
h2 {
    font-family: "Arial", sans-serif;
    font-size: 11pt;
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
    margin-top: 2em;
    margin-bottom: 1em;
}

/* Nivel 3 - Título alineado a la izquierda, negrita, cursiva, cada palabra en mayúscula */
h3 {
    font-family: "Arial", sans-serif;
    font-size: 11pt;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    text-transform: capitalize;
    margin-top: 2em;
    margin-bottom: 1em;
}

/* Nivel 4 - Título alineado a la izquierda, negrita, cada palabra en mayúscula, con sangría y punto final */
h4 {
    font-family: "Arial", sans-serif;
    font-size: 11pt;
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
    text-indent: 1.27cm;  /* Sangría de 1.27 cm */
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h4::after {
    content: ".";  /* Añadir punto final */
}

/* Nivel 5 - Título alineado a la izquierda, negrita, cursiva, cada palabra en mayúscula, con sangría y punto final */
h5 {
    font-family: "Arial", sans-serif;
    font-size: 11pt;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    text-transform: capitalize;
    text-indent: 1.27cm;  /* Sangría de 1.27 cm */
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h5::after {
    content: ".";  /* Añadir punto final */
}


/* Configuración para párrafos */
p {
    font-family: "Arial", sans-serif;
    font-size: 11pt;
    line-height: 2; /* Interlineado doble */
    text-align: left; /* Alineación a la izquierda */
    text-indent: 1.27cm; /* Sangría de la primera línea */
}

.interlineado-simple {
        line-height: 1; /* Interlineado simple */
      }




/* Configuración para listas de referencias (sangría francesa) */
#refs li {
    margin-left: 1.27cm;
    text-indent: -1.27cm; /* Sangría francesa de 1,27 cm */
    line-height: 2; /* Interlineado doble */
}

.imagen-contenedor {
  text-align: center; /* Centra la imagen */
}

.imagen-contenedor img {
  display: inline-block; /* Asegura que la imagen se comporte como un bloque en línea */
}

.descripcion {
  text-align: left; /* Alinea la descripción a la izquierda */
  margin-top: 10px; /* Espacio entre la imagen y la descripción */
  line-height: 1; /* Establece interlineado simple */

}
